# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/package-lock.json
/.vite/deps/_metadata.json
/.vite/deps/chunk-DBUGNT2R.js
/.vite/deps/chunk-DBUGNT2R.js.map
/.vite/deps/chunk-EQCVQC35.js
/.vite/deps/chunk-EQCVQC35.js.map
/.vite/deps/chunk-VUPZMC2T.js
/.vite/deps/chunk-VUPZMC2T.js.map
/.vite/deps/classnames.js
/.vite/deps/classnames.js.map
/.vite/deps/package.json
/.vite/deps/react.js
/.vite/deps/react.js.map
/.vite/deps/react-dom_client.js
/.vite/deps/react-dom_client.js.map
/.vite/deps/react-router-dom.js
/.vite/deps/react-router-dom.js.map
/.vite/deps/react_jsx-dev-runtime.js
/.vite/deps/react_jsx-dev-runtime.js.map
/.vite/deps/uuid.js
/.vite/deps/uuid.js.map
/.continue/prompts/new-prompt-file.prompt
/.continue/prompts/prompt.prompt
