.nav {
  position: fixed;
  z-index: 1000;
  list-style-type: none;
  padding: 0;
  top: 0;
  width: 100vw;
  background-color: #a3c4e6;
  display: flex;
  justify-content: space-around;
  padding: 10px 0;

  li {
  display: inline;
  margin-right: 10px;

    a {
  text-decoration: none;
  color: #007bff;
  padding: 5px 10px;
  border-radius: 4px;

      &:hover {
  text-decoration: underline;
  background-color: #e9ecef;
}
}
  }
}

.dropdown {
  position: relative;
  display: inline-block;

  .dropdownContent {
    display: none;
    position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;

    li {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;

      a {
  color: black;
  text-decoration: none;

        &:hover {
  background-color: #f1f1f1;
}
}
    }
  }

  &:hover .dropdownContent {
    display: block;
  }
}
